<!DOCTYPE HTML>
<html>
<head>
<title>绍兴兰红智能科技有限公司</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Appest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
</head>
<body>
<!--header start here-->
<div class="banner">
  <div class="header">
	<div class="container">
		 <div class="header-main">
				<div class="logo" style="width: 45%!important;margin-top:0.5em;margin-left:0em;">
					<h3><img src="static/images/logo.png" ></h3>
				</div>
				
				<div class="top-nav" style="width: 55%!important;">
					<span class="menu"> <img src="static/images/icon.png" alt=""/></span>
				 <nav class="cl-effect-24">
					 <ul class="res" style="margin-top:70px;width:100%;">
					   <li><a class="scroll" href="index.html"   data-hover="首页">首页</a></li> 
					   <li><a class="scroll" href="#about"  data-hover="走进兰红">走进兰红</a></li> 
						<li><a class="scroll" href="#Direction"  data-hover="产品中心">产品中心</a></li> 
						<li><a class="scroll" href="#Project"  data-hover="招贤纳士">招贤纳士</a></li> 
						<li><a class="scroll" href="#Contact"  data-hover="联系我们">联系我们</a></li>
					 </ul>
					
				 </nav>
		              <!-- script-for-menu -->
										 <script>
										   $( "span.menu" ).click(function() {
											 $( "ul.res" ).slideToggle( 300, function() {
											 // Animation complete.
											  });
											 });
										</script>
						        <!-- /script-for-menu -->
								</div>			
						 <div class="clearfix"> </div>
					  </div>
				   </div>
				</div>
					   <section class="slider">
						 <div class="flexslider">
							<ul class="slides">
							  <li>
							     <div class="banner-bottom">
							 	  <h3>Welcome to join our company</h3>
							    </div>
						     </li>
						      <li>
							     <div class="banner-bottom">
							 	  <h3>Best place for you</h3>
							    </div>
						     </li>
						      <li>
							     <div class="banner-bottom">
							 	  <h3>Good luck</h3>
							    </div>
						     </li>
						    </ul>
						 </div>
						 <div class="clearfix"> </div>
					  </section>
				</div>
				<!-- FlexSlider -->
								  <script defer src="static/js/jquery.flexslider.js"></script>
								  <script type="text/javascript">
									$(function(){
									 
									});
									$(window).load(function(){
									  $('.flexslider').flexslider({
										animation: "slide",
										start: function(slider){
										  $('body').removeClass('loading');
										}
									  });
									});
								  </script>
							<!-- FlexSlider -->

<!--header end here-->
<!--about start here-->
<div class="about" id="about">
	<div class="container">
		<div class="about-main">
			<div class="about-top">
				<!-- <h2>About</h2> -->
				<h4 style="margin-bottom: 30px;">关于我们</h4>
				<h5 style="text-align:left;width:85%;text-indent: 2em;">绍兴兰红智能科技有限公司成立于2021年，注册地在绍兴市柯桥区，注册资本500万。定位于专注跨模态机器学习及交互智能的人工智能初创公司。通过自主研发的深度学习产品，以大数据驱动知识学习，从多模态（图像、语音、文本等）中挖掘知识，研判和推理心理情绪。研究在时间和空间上能融合图像、语音和文本的多模态人工智能算法，并可在刑侦审讯、可疑人员识别、健康医疗以及金融反欺诈领域落地。</h5>
				<h5 style="text-align:left;width:85%;text-indent: 2em;">公司主营人工智能，由创始人带领研发与制作。近两年创始人带领公司研究人员在高水平的国际会议上发表微表情识别、语调情绪识别相关的论文近10篇，所有的代码项目均已开源。2020年1月最新发表的语调情绪识别的论文在IEMOCAP数据集上达到了76%的准确率，该准确率是当前世界同行在单模态相关工作的最高值，2021年1月将准确率直接刷新到78%并打破了自己团队创造的记录，文章发表在语音和信号的顶级会议ICASSP 2021上发表。代表了本领域的最前沿的研究水平，而且被同行认可，并形成了本领域领先的竞争壁垒和技术优势。团队已公开发表和主营业务相关的科技论文十余篇，申请专利三项。</h5>
				<p align="left" style="text-indent: 2em;"></p>
			</div>
		</div>
	</div>
</div>
<div class="about" id="Direction">
	<div class="container">
		<div class="about-main">
			<div class="about-top">
				<!-- <h2>产品中心</h2> -->
				<h4>产品中心</h4>
				</div>
						<div class="gallery-bottom">
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g1.jpg'" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g1.jpg" alt="">
											<p align="center">基于卷积神经网络的成品茶叶溯源系统</p>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g2.jpg" alt="">
											<p align="center">基于SIFT算法的螃蟹识别方法</p>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g4.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g4.jpg" alt="">
											<p align="center">基于N-gram的BERT模型</p>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g3.jpg" alt="">
											<p align="center">基于边缘计算的实时面部表情识别方法</p>
									</div>
								</div>
				            
								
								<!--  -->
								
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g5.jpg" alt="">
											<p align="center">基于卷积神经网络逐步精确化含噪信号检测模型</p><br/><br/>
									</div>
								</div>
								<div class="col-md-4 gallery-grid">
									<div class="project-eff">
										<div id="nivo-lightbox-demo"><p><a href="static/images/g6.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
											<img class="img-responsive" src="static/images/g6.jpg" alt="">
											<p align="center">基于注意力卷积神经网络的语音情绪识别模型</p><br/><br/>
									</div>
								</div>
								
						   <div class="clearfix"> </div>
						</div>
					</div>
				</div>
<script src="static/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
        nav:true,
      });
    });
  </script>

<!--gallery start here-->
<div class="gallery" id="Project">
	<div class="container">
		<div class="about-top" >
			<h4 style="margin-bottom:40px;">招贤纳士</h4>
		<div class="col-md-6 about-grid">
								<!-- <h3 align="center">图像识别</h3> -->
								<img src="static/images/a1.jpg" alt="" class="img-responsive">
								<h5 align="center"><a href="yunwei.html" style="text-decoration:none !important;color:#000000 !important; // 颜色">kubernetes运维开发工程师</a></h5>
								<!-- <div style="width:100%;text-align: left;">
									<p style="text-align:center;width:100%;">对图像进行处理、分析和理解，以识别各种不同模式的目标和对象的技术</p>
								</div> -->
							</div>
							<div class="col-md-6 about-grid">
								<img src="static/images/a3.jpg" alt="" class="img-responsive">
								<h5 align="center"><a href="python.html" style="text-decoration:none !important;color:#000000 !important; // 颜色">python工程师</a></h5>
							</div>
							<div class="col-md-6 about-grid">
									<!-- <h3 align="center" style="margin-top:20px;">语音情绪识别</h3> -->
									<img src="static/images/a4.jpg" alt="" class="img-responsive">
									<h5 align="center"><a href="suanfa.html" style="text-decoration:none !important;color:#000000 !important; // 颜色">强化学习算法工程师</a></h5>
								</div>
							<div class="col-md-6 about-grid">
								<img src="static/images/a2.jpg" alt="" class="img-responsive">
								<h5 align="center"><a href="fenxi.html" style="text-decoration:none !important;color:#000000 !important; // 颜色">数据分析员</a></h5>
								<!-- <div style="width:100%;text-align: left;">
									<p style="text-align:center;width:100%;">将人类语音中的词汇内容转换为计算机可读输入</p>
								</div> -->
							</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
<link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
			<script type="text/javascript" src="static/js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>
<!--gallery end here-->
<!--features strat here-->

<!--features end here-->
<!--footer start here-->
<div class="footer" id="Contact">
	<div class="container">
		<div class="footer-main">
			  <div class="col-md-4 ftr-grd">
			  	 <h3>联系我们</h3>
			  	 <p>联系人:张先生</p>
			  	 <p>联系电话:18995602423</p>
			  	 <p>邮政编码:312030</p>
			  	 <p>公司邮箱:407774927@qq.com</p> 
			  	 <p>公司地址:浙江省绍兴市柯桥区兴银大厦1105室</p>
			  </div>
			  <!-- <div class="col-md-4 ftr-grd">
			  	 <h3>User Feedback</h3>
				 <p>用户反馈：gb1332800313@163.com</p>
				 <p>商务合作：gb1332800313@163.com</p>
			  </div>
			  <div class="col-md-4 ftr-grd">
			  	<h3>Learn More</h3>
				<div class="col-md-6 col-xs-4">
					<img src="images/g7.jpg" alt="" class="img-responsive" >
				</div>
			  </div> -->
			<div class="clearfix"> </div>
			<div class="copy-right">
		   </div>
		</div>
		<script type="text/javascript">
										$(document).ready(function() {
											/*
											var defaults = {
									  			containerID: 'toTop', // fading element id
												containerHoverID: 'toTopHover', // fading element hover id
												scrollSpeed: 1200,
												easingType: 'linear' 
									 		};
											*/
											
											$().UItoTop({ easingType: 'easeOutQuart' });
											
										});
									</script>
						<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	</div>
</div>
<!--//footer--> 

</body>
</html>